

# Python cache fayllari
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Natijalarni saqlaydigan fayl
results.csv

# OS fayllari (agar Windows ishlatilsa)
Thumbs.db
.DS_Store

# IDE fayllari (VSCode, PyCharm)
.vscode/
.idea/
